In [120]:
import pandas as pd
import numpy as np

In [121]:
gc = pd.read_csv('data/googledata_cleaned.csv',index_col=0)

In [122]:
me = pd.read_csv('notebooks/all_live_institution_cleaned.csv',index_col=0)

/home/kunal_goyal/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (14,15,16,17,18,19,20,21,22,23,24,25,26,40,42,43,44,47,48,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [123]:
gc.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,null_count
0,0,C100,ChIJM7k39sBPXDkRiU6Om4PD_e8,"SPCE Campus, Visnagar, Gujarat 384315, India",02765 225 505,+91 2765 225 505,Manish Institute of Computer Studies,5.0,2,http://mcavisnagar.org/,https://maps.google.com/?cid=17293193114190499465,23.683418,72.547188,2018-04-03 08:02:41,2018-04-03 16:12:34,-1

In [124]:
me.head(1)

,cid,name,address_line1,address_line2,city,Affiliated_to_University,state,pin_code,area,website,...,connectivity_nmeict,no_of_books,no_of_journals,campus_friendly,grievance_redressal_mechanism,vigilance_cell,opportunity_cell,name_clean,city_clean,name_city_cleaned
0,C100,Manish Institute of Computer Studies,"S. K. Patel Campus, Kamana Char Rasta",Gandhinagar Ambaji State Highway,Visnagar-384315,"Sankalchand Patel University, Visnagar",Gujarat,384315,2.5,www.mcavisnagar.org,...,False,8222.0,17.0,True,True,False,False,Manish Institute of Computer Studies,visnagar,"Manish Institute of Computer Studies, Visnagar"

In [125]:
gc = gc.drop(['0','4','6','7','8','13','14','null_count'],1)

In [126]:
gc.columns = ['g_cid','g_place_id','g_address','g_phone','g_website','g_map','g_lat','g_lng']

In [127]:
merged = pd.merge(me,gc,'left',left_on='cid',right_on='g_cid')

In [128]:
merged['address'] = merged['address_line1'] + ' ' + merged['address_line2']
merged.drop(['address_line1','address_line2'],1,inplace=True)

In [129]:
def add_pin(row):
    row['pin_code'] = str(row['pin_code'])
    if row['address'] and row['pin_code'] not in str(row['address']):
        row['address'] = str(row['address'])
        row['address'] += ', pin:' + (row['pin_code']) 
    else : row['address'] = row['pin_code']
    return row

In [130]:
print(merged.address.isnull().sum())
merged.loc[merged.address.isnull(),'address'] = merged.loc[merged.address.isnull(),'g_address']
merged.address.isnull().sum()

7794

3582

In [131]:
merged = merged.apply(add_pin,axis=1)
merged.drop('pin_code',1,inplace=True)
merged.columns = ['cid', 'old_me_name', 'old_me_city', 'Affiliated_to_University', 'state',
       'area', 'website', 'year_of_establishment', 'scholarship_id',
       'management_type', 'playground', 'auditorium', 'theatre', 'library',
       'laboratory', 'conference_hall', 'health_center',
       'gymnasium_fitness_center', 'indoor_stadium', 'common_room',
       'computer_center', 'cafeteria', 'guest_house', 'no_of_playgrounds',
       'no_of_auditoriums', 'no_of_theatres', 'no_of_libraries',
       'no_of_laboratories', 'no_of_conference_halls', 'no_of_health_centers',
       'no_of_gymnasim_fitness_centers', 'no_of_indoor_stadiums',
       'no_of_common_rooms', 'no_of_computer_centers', 'no_of_cafeteria',
       'no_of_guest_houses', 'separate_room_for_girls',
       'no_of_separate_rooms_for_girls', 'solar_power_generation',
       'connectivity_nkn', 'connectivity_nmeict', 'no_of_books',
       'no_of_journals', 'campus_friendly', 'grievance_redressal_mechanism',
       'vigilance_cell', 'opportunity_cell', 'name_clean', 'city_clean',
       'name_city_cleaned', 'g_cid', 'g_place_id', 'g_address', 'g_phone',
       'g_website', 'g_map', 'g_lat', 'g_lng', 'address']

In [132]:
merged.loc[merged.website.str.contains('^N',na=False),'website'] = np.nan

In [133]:
merged.drop('scholarship_id',1,inplace=True)

In [134]:
merged.loc[merged.website.isnull(),'website'] = merged.loc[merged.website.isnull(),'g_website']
merged.website.isnull().sum()

8860

In [140]:
merged.drop(['g_website','g_address'],1,inplace=True)
merged.drop(['g_cid'],1,inplace=True)
merged.drop(['name_clean'],1,inplace=True)

In [141]:
merged.columns

Index(['cid', 'old_me_name', 'old_me_city', 'Affiliated_to_University',
       'state', 'area', 'website', 'year_of_establishment', 'management_type',
       'playground', 'auditorium', 'theatre', 'library', 'laboratory',
       'conference_hall', 'health_center', 'gymnasium_fitness_center',
       'indoor_stadium', 'common_room', 'computer_center', 'cafeteria',
       'guest_house', 'no_of_playgrounds', 'no_of_auditoriums',
       'no_of_theatres', 'no_of_libraries', 'no_of_laboratories',
       'no_of_conference_halls', 'no_of_health_centers',
       'no_of_gymnasim_fitness_centers', 'no_of_indoor_stadiums',
       'no_of_common_rooms', 'no_of_computer_centers', 'no_of_cafeteria',
       'no_of_guest_houses', 'separate_room_for_girls',
       'no_of_separate_rooms_for_girls', 'solar_power_generation',
       'connectivity_nkn', 'connectivity_nmeict', 'no_of_books',
       'no_of_journals', 'campus_friendly', 'grievance_redressal_mechanism',
       'vigilance_cell', 'opportunity_cell', 'city_clean', 'name_city_cleaned',
       'g_place_id', 'g_phone', 'g_map', 'g_lat', 'g_lng', 'address'],
      dtype='object')

In [145]:
merged.columns = ['cid', 'old_me_name', 'old_me_city', 'Affiliated_to_University',
       'state', 'area', 'website', 'year_of_establishment', 'management_type',
       'playground', 'auditorium', 'theatre', 'library', 'laboratory',
       'conference_hall', 'health_center', 'gymnasium_fitness_center',
       'indoor_stadium', 'common_room', 'computer_center', 'cafeteria',
       'guest_house', 'no_of_playgrounds', 'no_of_auditoriums',
       'no_of_theatres', 'no_of_libraries', 'no_of_laboratories',
       'no_of_conference_halls', 'no_of_health_centers',
       'no_of_gymnasim_fitness_centers', 'no_of_indoor_stadiums',
       'no_of_common_rooms', 'no_of_computer_centers', 'no_of_cafeteria',
       'no_of_guest_houses', 'separate_room_for_girls',
       'no_of_separate_rooms_for_girls', 'solar_power_generation',
       'connectivity_nkn', 'connectivity_nmeict', 'no_of_books',
       'no_of_journals', 'campus_friendly', 'grievance_redressal_mechanism',
       'vigilance_cell', 'opportunity_cell', 'city', 'name',
       'place_id', 'phone', 'g_map', 'lat', 'lng', 'address']

In [146]:
merged.to_csv('all_institution_merged.csv')

In [161]:
college_table = pd.read_csv('all_institution_merged.csv',index_col=0)

/home/kunal_goyal/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (10,11,12,13,14,15,16,17,18,19,20,21,22,36,38,39,40,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [169]:
row = college_table.loc[college_table.cid == 'U100']

In [174]:
print(row.place_id)

46381    ChIJtV8FufYdDTkRwKMeayYLwYE
Name: place_id, dtype: object