In [372]:
import pandas as pd
import numpy as np
import re
import dask.dataframe as dd
from dask.multiprocessing import get
from tqdm import tqdm

In [373]:
def syn_gen(col_name):
    lst = [None]*25
    if col_name == 'nan':
        return ['nan']
    col_name = str(col_name)
    col_name = col_name.lower()
    name = col_name.split(',')[0]
    names = []
    names.append(name)                                           # As given
    
    name = re.subn('of|\sand|&', '', name, flags = re.IGNORECASE)[0]
    
    name = re.subn('\s+', ' ', name)[0]                          # Removing 'of' and 'and'
    names.append(name)
    names.append(''.join([word[0] for word in name.split()]).upper())
    
    if "'" in col_name:    
        names.append(''.join([word[0] for word in filter(None,re.split('\W+', name))]).upper())
    if col_name.count('.') > 1:
        names.append(''.join(re.split(r'\.\s?', col_name)[:-1]).upper())
        
        try:
            pattern = re.compile('\s?univ\S*\s?|\s?coll\S*\s?|\s?inst\S*\s?|\sres\S*\sfound\S*\s?')
            inst_type = pattern.findall(name)[0]
            names.append(names[-1]+inst_type)
        except:
            pass
        
    if ',' in col_name:
        location_full = [name+re.findall(',.*', col_name)[0][1:] for name in names]
        try:
            location_short = [name+col_name.split(',')[-1].split()[0][0].upper() for name in filter(lambda x: x.isupper(), names)]
            location_short.extend([name+'-'+col_name.split(',')[-1].split()[0][0].upper() for name in filter(lambda x: x.isupper(), names)])
            location_short.extend([name+'/'+col_name.split(',')[-1].split()[0][0].upper() for name in filter(lambda x: x.isupper(), names)])
            location_short.extend([name+' '+col_name.split(',')[-1].split()[0][0].upper() for name in filter(lambda x: x.isupper(), names)])
            names.extend(location_short)
        except:
            pass
        names.extend(location_full)
    return (list(set(names))+lst)[:25]

In [374]:
def rm_brk(s):
    s = str(s)
    return re.sub('\\(.+?\\)','',s)

def ret_zero(lst):
    return lst[0]

In [375]:
data = pd.read_csv('../data/all_institutions_live.csv', engine='python')
data['name_clean'] = data.name

In [376]:
data.name_clean = data.name.apply(rm_brk)
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip(',')
data.name_clean = data.name_clean.str.rstrip('.')
data.name_clean = data.name_clean.str.rstrip('-')

In [377]:
data['name_clean'] = data.name_clean.str.split('Ph:|PH[0-9]|Ph[0-9]|Ph. No|Ph\.|Mob\.No\.|PH\.|ph\.|Address|Dist.|Ward No|Distt\.|Distt|H\.No|PIN-|PIN [0-9]|PIN -|Pin-|village|VILLAGE|Write institute Name here|near|Near|NEAR|DIST-|City Off|DIST:|DIST\.|D\.No').apply(ret_zero)

data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip(',')
data.name_clean = data.name_clean.str.rstrip('.')
data.name_clean = data.name_clean.str.rstrip('-')

In [378]:
def rep_sub_none(string):
    string = str(string)
    return re.sub('[0-9]{3} [0-9]{3}-|[0-9]{6}-|Dist','',string)

def rep_sub_quote(string):
    string = str(string)
    string = re.sub(',\.|PINCODE|NH-[0-9]{1,4},|NH-[0-9]{1,4}|NH[0-9]{1,4}|^[A-Z][0-9]{1,4} |^[A-Z][0-9]{1,4}','',string)
    return re.sub(';|:','\'',string)

def rep_sub_fs(string):
    string = str(string)
    return re.sub('\.\.|>','.',string)

def rep_sub_ch(string):
    string = str(string)
    string =  re.sub('---|--','-',string)
    return re.sub(',,,|,,|<',',',string)

def rep_digit(string):
    string = str(string)
    return re.sub('[0-9]{1,4}$|[0-9]{1,4}.$','',string)

In [379]:
data.name_clean = data.name_clean.apply(rep_sub_none)

data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip(',')
data.name_clean = data.name_clean.str.rstrip('.')
data.name_clean = data.name_clean.str.rstrip('-')

In [380]:
data['name_clean'] = data.name_clean.str.split('-[0-9]{3} [0-9]{3}|-[0-9]{6}|P\.O\.|P\.O|PB\.NO|- [0-9]{3} [0-9]{3}|- [0-9]{6}|[0-9]{3} [0-9]{3}|[0-9]{6}|Ta:|Di:|TAL:|OPP:|Vill|near|Post Box|P\.B\. No|Tq:|Dt:|Tq.:|Opp:|Opp\.|opp\.|Tal:|Di stt:|TQ:|At:|CITY:|Plot|PLOT|Opposite|Opp\.|OPP\.').apply(ret_zero)
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip(',')
data.name_clean = data.name_clean.str.rstrip('.')
data.name_clean = data.name_clean.str.rstrip('-')

data['name_clean'] = data.name_clean.str.split('P\.B\.No\.|P B No\.|No\.|plot|Tal\.|DISTT|VILL-|VILL\.|NO\.|VILL |POST\.|TQ\.|OPP |OPP-|TAL-|TAL\.|AT\.|#|S NO').apply(ret_zero)
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip(',')
data.name_clean = data.name_clean.str.rstrip('.')
data.name_clean = data.name_clean.str.rstrip('-')

In [381]:
data.name_clean = data.name_clean.apply(rep_sub_quote)

data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip(',')
data.name_clean = data.name_clean.str.rstrip('.')
data.name_clean = data.name_clean.str.rstrip('-')

data.name_clean = data.name_clean.apply(rep_sub_fs)

data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip(',')
data.name_clean = data.name_clean.str.rstrip('.')
data.name_clean = data.name_clean.str.rstrip('-')

data.name_clean = data.name_clean.apply(rep_sub_ch)

data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip(',')
data.name_clean = data.name_clean.str.rstrip('.')
data.name_clean = data.name_clean.str.rstrip('-')

In [382]:
data.name_clean = data.name_clean.apply(rep_digit)

data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip(',')
data.name_clean = data.name_clean.str.rstrip('.')
data.name_clean = data.name_clean.str.rstrip('-')

In [50]:
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.rstrip()
data.name_clean = data.name_clean.str.lstrip()
data.name_clean = data.name_clean.str.lstrip()
data.name_clean = data.name_clean.str.rstrip(',')
data.name_clean = data.name_clean.str.rstrip('-')

In [408]:
data[data.cid.str.contains('C11759')].name.values

array(['University College of Pharmacy, Thalappady, Kottayam'], dtype=object)

In [785]:
data[data.name_clean.str.contains('[0-9]{3}$')].name_clean.values
# data.name_clean = data.name_clean.str.replace(',$','.')
# data.name_clean.

array([], dtype=object)

In [644]:
# data[['name','name_clean']].to_csv('comp_name.csv')

In [589]:
data[data.name_clean.str.contains('P\.O\.')].name_clean.values

array([], dtype=object)

In [503]:
data[np.logical_xor(data.name.str.contains(r'\('),data.name.str.contains(r'\)'))].shape

(16, 51)

In [504]:
data[data.name.str.contains(r'[0-9]')].shape

(5153, 51)

In [505]:
data[data.name.str.contains('Ph. No')].shape

(70, 51)

In [506]:
# data.loc[data.state.isnull(),'state']='Tamil Nadu'
# data.state.unique()
# len(data.name.unique())
data[data.duplicated('name')].sort_values(by='name')
# data[data.name=='Vivekananda College of Education']
# len(data.name.unique())
# len(data.name)

,cid,name,address_line1,address_line2,city,Affiliated_to_University,state,pin_code,area,website,...,solar_power_generation,connectivity_nkn,connectivity_nmeict,no_of_books,no_of_journals,campus_friendly,grievance_redressal_mechanism,vigilance_cell,opportunity_cell,name_clean
11192,C24905,ABHYUDAYA DEGREE COLLEGE,"Govinda Nagar Colony,Behind Indira Nagar Colony",Chaparam,Srikakulam,"Dr.B.R.Ambedkar University, Etcherla",Andhra Pradesh,532001,2.070000,www.abhyudayadegreecollegesklm.com,...,False,False,False,1200.0,0.0,False,False,False,False,ABHYUDAYA DEGREE COLLEGE
11561,C25375,ADITYA DEGREE COLLEGE,Vijayawada,Near Chaitanya Techno School,Vijayawada,"Krishna University, Machhlipattanam",Andhra Pradesh,520001,2.000000,NaN,...,False,False,False,2100.0,2.0,False,False,False,False,ADITYA DEGREE COLLEGE
47157,U850,AISECT UNIVERSITY,MATWARI CHOWK,IN FRONT OF GANDHI MAIDAN,HAZARIBAG,NaN,Jharkhand,825301,0.000000,www.aisectuniversityjharkhand.ac.in,...,False,False,False,NaN,NaN,False,False,False,False,AISECT UNIVERSITY
27740,C48839,AKSHARA DEGREE COLLEGE,MIG-64 APHB COLONY MEDCHAL(MDL)R.R.DIST.,MIG-64 APHB COLONY MEDCHAL(MDL)R.R.DIST.,MEDCHAL,"Osmania University, Hyderabad",Telangana,501401,0.000000,NaN,...,False,False,False,500.0,NaN,False,False,False,False,AKSHARA DEGREE COLLEGE
25899,C46346,"ALIGARH COLLEGE OF ENGINEERING AND TECHNOLOGY,...","2.5 Km From Sasni Gate, Mathura Road",Aligarh,Aligarh,"Uttar Pradesh Technical University, Lucknow",Uttar Pradesh,202001,10.000000,www.acetup.org,...,False,False,False,42827.0,88.0,True,True,True,True,"ALIGARH COLLEGE OF ENGINEERING AND TECHNOLOGY,..."
40153,ST14545,ASIAN BUSINESS SCHOOL,Plot A2,Sector 125,Noida,NaN,Uttar Pradesh,201303,2.000000,http://www.abs.edu.in,...,False,False,False,3761.0,38.0,True,True,True,True,ASIAN BUSINESS SCHOOL
10467,C23117,Academy of Management Studies,"side of Nh-18, Gangraj,",P.S.Kuliana,Baripada,"Utkal University of Culture, Bhubaneswar",Odisha,757105,0.960000,www.amstudies.co.in,...,False,False,False,1229.0,25.0,True,False,False,True,Academy of Management Studies
12026,C25974,Academy of Management Studies,"S.No 192, Yenkapalli, Moinabad, Rangareddi Dis...","Behind Excise Academy, Himayatsagar Road, Near...",Hyderabad,"Osmania University, Hyderabad",Telangana,500086,2.500000,www.useams.org,...,False,False,True,2257.0,15.0,True,True,False,False,Academy of Management Studies
34550,C57212,Aditya College of Education,yerragondapalem,NaN,yerragondapalem,"Acharya Nagarjuna University, Guntur",Andhra Pradesh,523327,0.000000,NaN,...,False,False,False,NaN,NaN,False,False,False,False,Aditya College of Education
35898,C6978,Akshaya College of Education,"Ashokanagar,","2nd Cross,",Tumkur-02,"Tumkur University, Tumkur",Karnataka,572102,2.000000,www.acte-tumkur.com,...,False,False,False,5000.0,18.0,False,False,False,False,Akshaya College of Education
4308,C14820,Annai College of Education,"ANAKUDI ROAD,KOVILACHERI,KUMBAKONAM",THANJAVUR DISTRICT,THANJAVUR,"Tamil Nadu Teacher Education University, Chennai",Tamil Nadu,612503,1.230000,www.annaibed.in,...,False,False,False,11562.0,13.0,False,False,False,False,Annai College of Education
21635,C40594,Ashwini Ayurvedic Medical College,"# 405/1, Opp. Bathi Lake, P.B.Road,",NaN,Davanagere,"Rajiv Gandhi University of Health Sciences, Ba...",Karnataka,577566,14.150000,www.ashwinicollege.com,...,False,True,True,10430.0,32.0,True,True,True,True,Ashwini Ayurvedic Medical College
43137,ST354,BIRLA INSTITUTE OF MANAGEMENT TECHNOLOGY,"PLOT No.5, INSTITUTIONAL AREA",KNOWLEDGE PARK-II,GREATER NOIDA,NaN,Uttar Pradesh,201306,7.410000,www.bimtech.ac.in,...,True,False,False,74394.0,NaN,True,True,True,True,BIRLA INSTITUTE OF MANAGEMENT TECHNOLOGY
34848,C57652,"Baba Indradev Girls Educational Institute, Mah...",Ghz,NaN,NaN,"Veer Bahadur Singh Purvanchal University, Jaunpur",Uttar Pradesh,233222,0.000000,NaN,...,False,False,False,NaN,NaN,False,False,False,False,"Baba Indradev Girls Educational Institute, Mah..."
10357,C22920,Bharat College of Education,Hatli Morh,NH-1A,Kathua,NaN,Jammu and Kashmir,184102,2.375000,bharatcollege.com,...,True,False,False,1674.0,NaN,False,False,False,False,Bharat College of Education
15229,C30267,Bharath College of Education,"Buggaletipalli (Village), Rayachoty Road","C.K.Dinne (Mandal), Kadapa",Kadapa,"Yogi Vemana University, Kadapa",Andhra Pradesh,516003,1.660000,www.bcekadapa.org,...,False,False,False,4500.0,25.0,False,False,False,False,Bharath College of Education
4132,C14582,Bharath College of Education,"Near New Busstand,","Trichy Road, Thanjavur",Thanjavur,"Tamil Nadu Teacher Education University, Chennai",Tamil Nadu,613005,1.000000,www.bharathcedu.org,...,False,False,False,3023.0,10.0,False,True,False,True,Bharath College of Education
32719,C54819,Bharathi College of Education,"opp maralur kere ,",kunigal road,tumkur,"Tumkur University, Tumkur",Karnataka,572105,2.000000,www.bharathieducation.com,...,False,False,False,3685.0,20.0,True,True,False,True,Bharathi College of Education
4385,C14921,Bharathiyar College of Education,Deviyakurichi (Po),"Attur (Tk)., Salem (Dt)",Attur,"Tamil Nadu Teacher Education University, Chennai",Tamil Nadu,636112,2.750000,www.bced.ac.in,...,False,True,True,NaN,NaN,True,True,True,True,Bharathiyar College of Education
24729,C44750,Bidhan Chandra College,SIBDAS GHATAK SARANI,NEAR BUDHA WATER TANK,ASANSOL,"KAZI NAZRUL UNIVERSITY, ASANSOL",West Bengal,713304,11.000000,www.bccollegeasansol.com,...,False,False,True,58250.0,15.0,True,True,False,False,Bidhan Chandra College
32898,C55060,CHAITANYA DEGREE COLLEGE,MANGAPET,MANGAPET,MANGAPET,"Kakatiya University, Warangal",Telangana,506172,2.000000,NaN,...,False,False,False,NaN,NaN,False,False,False,False,CHAITANYA DEGREE COLLEGE
30446,C52088,CHRIST COLLEGE,St. PETER'S CARMEL CAMPUS,"KALLUVETTANKUZHY, VIZHINJAM",THIRUVANANTHAPURAM,"Kerala University, Thiruvananthapuram",Kerala,695521,8.000000,www.christcollegevizhinjam.com,...,False,False,False,1194.0,3.0,True,True,True,True,CHRIST COLLEGE
34412,C57037,CHRIST COLLEGE,SRIRAMPURA P O,H D KOTE ROAD,MYSURU,"Mysore University, Mysore",Karnataka,570008,4.500000,www.christmysuru.in,...,False,False,False,7437.0,40.0,False,True,False,True,CHRIST COLLEGE
15213,C30246,Chaitanya Degree College,"10-1-286,Mydukur Road","Badvel(Po),Badvel(M)",BADVEL,"Yogi Vemana University, Kadapa",Andhra Pradesh,516227,2.050000,NaN,...,False,True,True,3500.0,30.0,True,False,False,False,Chaitanya Degree College
41643,ST16477,Chakleshwar Singh Educational Institute,Mathura-Bharatpur Road,Dhangaon,Mathura,NaN,Uttar Pradesh,281005,2.530000,www.cseimathura.com,...,True,False,False,NaN,NaN,True,False,True,False,Chakleshwar Singh Educational Institute
4147,C14602,Christ College of Education for Women,"A.Jettihalli(po),collector bungla backside, Dh...","A.Jettihalli(po),collector bungla backside, Dh...",Dharmapuri,"Tamil Nadu Teacher Education University, Chennai",Tamil Nadu,636807,5.000000,www.christedu.com,...,True,False,False,NaN,NaN,False,False,False,False,Christ College of Education for Women
40410,ST14904,Christ Institute of Management,CHRIST UNIVERSITY TRUST,"Mariam Nagar, Meerut Road",Ghaziabad,NaN,Uttar Pradesh,201003,5.700000,http://www.christinstitute-ncr.ac.in,...,True,False,False,3042.0,37.0,True,True,True,True,Christ Institute of Management
23852,C43582,College of Agricultural Engineering & Technology,Dapoli Tal Dapoli Dist.-Ratnagiri,Dapoli Tal Dapoli Dist.-Ratnagiri,Dapoli,Dr. Balasaheb Sawant Konkan Krishi Vidyaapeeth...,Maharashtra,415712,15.000000,www.dbskkv.org,...,False,True,False,7346.0,97.0,True,True,False,False,College of Agricultural Engineering & Technology
14694,C29456,College of Agriculture,CCSHAU Campus,Kaul,Kaithal,Chaudhary Charan Singh Haryana Agricultural Un...,Haryana,136021,166.000000,http://hau.ernet.in,...,False,True,False,16180.0,28.0,True,False,False,False,College of Agriculture
14691,C29453,College of Agriculture,Chaudhary Charan Singh Haryana Agricultural Un...,NaN,Hisar,Chaudhary Charan Singh Haryana Agricultural Un...,Haryana,125004,0.000000,hau.ernet.in,...,True,True,False,NaN,NaN,True,True,False,True,College of Agriculture
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29635,C51079,TAGORE COLLEGE OF EDUCATION,V.P.O. BARWA,TEH.SIWANI,BHIWANI,"CHAUDHARY RANBIR SINGH UNIVERSITY, JIND",Haryana,127045,3.000000,www.tagorecoe.com,...,False,False,False,15909.0,15.0,True,True,False,False,TAGORE COLLEGE OF EDUCATION
10432,C23028,Tagore College of Education,VPO Akalpur,Jammu,Jammu,"University of Jammu, Jammu Tawi",Jammu and Kashmir,180002,2.000000,www.tagorecollege.com,...,False,False,False,NaN,NaN,False,False,False,False,Tagore College of Education
613,C10807,United College of Education,"vill.roorki,po.pehladpur,distt.kurukshetra","vill.roorki,po.pehladpur,distt.kurukshetra",kurukshetra,"CHAUDHARY RANBIR SINGH UNIVERSITY, JIND",Haryana,136156,5.000000,unitedcollegeofeducation.com,...,False,False,False,NaN,NaN,False,False,False,False,United College of Education
31410,C53234,Universal College of Education,VILL-DHARAMPUR,"PO-MEHARAMPUR,PS-KALIACHAK",MALDA,"University of Gour Banga, Malda",West Bengal,732207,2919.000000,www.unicollofeducation.org,...,False,False,False,3315.0,200.0,True,False,False,False,Universal College of Education
32937,C55112,University College of Education,Adikavi Nannaya University,Rajah Rajah Narendra Nagar,Rajamahendravaram,"Adikavi Nannaya University, Rajahmundry, East ...",Andhra Pradesh,533296,96.270000,www.nannayauniversity.info,...,False,True,False,700.0,5.0,True,True,True,True,University College of Education
20849,C39668,University Law College,"UNIVERSITY LAW COLLEGE, UTKAL UNIVERSITY, VANI...",NaN,BHUBANESWAR,"Utkal University, Bhubaneswar",Odisha,751004,2.500000,www.ulcbbsr.org,...,False,False,False,19868.0,2650.0,False,True,True,True,University Law College
13875,C28420,VIVEKANAND COLLEGE OF EDUCATION,VPO- DAHINA,REWARI,REWARI,"CHAUDHARY RANBIR SINGH UNIVERSITY, JIND",Haryana,123411,0.942000,vncollegedahina.org.in,...,False,True,True,4725.0,13.0,True,True,False,True,VIVEKANAND COLLEGE OF EDUCATION
29371,C50772,VIVEKANANDA COLLEGE,"NH-60, Kamladanga",PO-Purandarpur,Bankura,"Burdwan University, Burdwan",West Bengal,722178,4046.820000,www.vcollege.org.in,...,False,False,False,4577.0,26.0,True,False,False,False,VIVEKANANDA COLLEGE
34473,C57113,VIVEKANANDA COLLEGE OF EDUCATION,VILL- JOYKRISHNAPUR,P.O-MATH-BISHNUPUR,DEBRA,"Vidya Sagar University, Midnapore",West Bengal,721136,0.882908,www.vivekanandace.org,...,False,False,True,4503.0,6.0,False,False,True,True,VIVEKANANDA COLLEGE OF EDUCATION
32876,C55018,VIVEKANANDA DEGREE COLLEGE,"D.NO. 18-2-13, REMALLIVARI STREET",GOVT COLLEGE ROAD,JANGAREDDIGUDEM,"Adikavi Nannaya University, Rajahmundry, East ...",Andhra Pradesh,534447,NaN,NaN,...,True,False,False,NaN,5.0,False,False,False,False,VIVEKANANDA DEGREE COLLEGE
41570,ST1637,VNS BUSINESS SCHOOL,"VNS CAMPUS,VIDYA VIHAR,NEELBUD","BHOPAL,462044",BHOPAL,NaN,Madhya Pradesh,462044,1.000000,www.vnsbs.org,...,False,False,False,NaN,NaN,True,True,True,False,VNS BUSINESS SCHOOL
12426,C26566,Vardhamana TT College,circuit house civil Tonk,tonk,tonk,NaN,Rajasthan,304001,9.600000,www.vardhmanttcollege.com,...,False,False,False,9984.0,19.0,True,True,False,False,Vardhamana TT College
7588,C19088,Vidyasagar Institute of Health,Rangamati,P.O: Vidyasagar University,Midnapore,"Vidya Sagar University, Midnapore",West Bengal,721102,24.000000,www.midvih.org.in,...,False,True,False,943.0,7.0,True,True,True,True,Vidyasagar Institute of Health
24642,C44656,Vidyasagar Teacher Training College,"Vill.-Bhabanandapur, P.O.-Goda Annada","P.S.-Kalna, Pin.-713122",Kalna,"Burdwan University, Burdwan",West Bengal,713122,1.160000,www.vidyasagarttcollege.in,...,False,True,True,4167.0,8.0,True,True,True,True,Vidyasagar Teacher Training College
34601,C57277,Vikas Degree College,ananthasagaram,ananthasagaram,nellore,"Vikram Simhapuri University, Nellore",Andhra Pradesh,524302,1.000000,NaN,...,False,False,False,2550.0,450.0,True,False,False,False,Vikas Degree College
40299,ST14740,Vinayaka College of Nursing,JIVANVIKAS EDUCATION ACADEMY,"NR, HINDU ANATH ASHRAM",NADIAD,NaN,Gujarat,387001,52780.000000,www.vinayakacollege.org,...,False,False,False,1130.0,7.0,True,True,True,False,Vinayaka College of Nursing
206,C10227,Vinayaka Mission's College of Nursing,KEEZHAKASAKUDIMEDU MEDU,KOTTUCHERRY (PO),KARAIKAL,"VINAYAKA MISSIONs RESEARCH FOUNDATION, SALEM",Puducherry,609609,10.080000,www.vmnckkl.com,...,False,False,True,3937.0,20.0,False,True,False,True,Vinayaka Mission's College of Nursing
35033,C5955,Vivekanand College of Commerce,"O/s Raipur Gate,","Raipur, Ahmedabad",Ahmedabad,"Gujarat University, Ahmedabad",Gujarat,380022,0.197684,NaN,...,False,False,False,NaN,NaN,False,False,False,False,Vivekanand College of Commerce
20490,C39250,Vivekanand College of Nursing,Vivekanand Hospital Campus,Kanth ROad,Moradabad,"Mahatama Jyotiba Phule Rohikhand University, B...",Uttar Pradesh,244001,5.000000,www.vnursingcollege.com,...,False,False,False,3600.0,15.0,True,False,False,False,Vivekanand College of Nursing
35415,C6382,Vivekananda College,Vivek Vihar,Delhi 95,Delhi,NaN,Delhi,110095,10.000000,www.vivekanandacollege.edu.in,...,True,False,False,NaN,NaN,True,True,False,True,Vivekananda College
23758,C43346,Vivekananda College,"Madhyamgram, North 24 Parganas, Kolkata - 700 129","Madhyamgram, North 24 Parganas, Kolkata - 700 129",Kolkata-700129,"West Bengal State University, Kolkata",West Bengal,700129,1.660000,www.vivekanandacollegemmg.in,...,True,True,False,10435.0,NaN,True,True,False,True,Vivekananda College
12378,C26428,Vivekananda College of Education,"Main Road, Kairmganj, Assam.","Near S.B.I Main Branch, Karimganj.",Karimganj,"Assam University, Silchar",Assam,788710,0.660000,www.vced.org,...,False,False,False,7114.0,7.0,False,True,False,False,Vivekananda College of Education
11959,C25878,Vivekananda College of Education,Gollapally Village,Chevella Mandal,Gollapally,"Osmania University, Hyderabad",Telangana,501103,1.000000,NaN,...,False,False,False,4000.0,NaN,False,False,False,False,Vivekananda College of Education
10408,C22991,Vivekananda College of Education,"Vivekananda College of Education,",Lakhanpur (Kathua) J&K - 184152,Kathua,"University of Jammu, Jammu Tawi",Jammu and Kashmir,184152,3.000000,www.vivekanandacollege.co.in,...,True,False,False,9358.0,652.0,True,True,True,False,Vivekananda College of Education
27716,C48809,WESTIN COLLEGE OF HOTEL MANAGEMENT,"RELIANCE CHAMBERS,PLOT NO 73","BANDLAGUDA,RAJENDRANAGAR",HYDERABAD,"Osmania University, Hyderabad",Telangana,500091,700.000000,www.westin.ac.in,...,False,False,False,250.0,6.0,False,True,False,False,WESTIN COLLEGE OF HOTEL MANAGEMENT
37179,C8777,Women's College,KASHIPUR W.NO-13 SAMASTIPUR,DO,SAMASTIPUR,"Lalit Narayan Mithila University, Darbhanga",Bihar,848101,4.000000,www.womenscollegesamastipur.org,...,False,False,False,NaN,NaN,True,True,False,True,Women's College
21952,C40955,Women's College,AT- MANGAL BAZAR ROAD,PO- JHARSUGUDA,JHARSUGUDA,"Sambalpur University, Sambalpur",Odisha,768201,2.950000,www.womenscollegejharsuguda.org,...,True,False,False,13150.0,18.0,False,True,True,True,Women's College
5490,C16345,Women's College,"Upper New Colony, Laitumukhrah",Shillong 793003,Shillong,"North Eastern Hill University, Shillong",Meghalaya,793003,0.717000,www.womenscollege.ac.in,...,False,False,False,9207.0,19.0,False,False,False,False,Women's College
37783,C9571,Women's College,B K Road,Near Loknath Ashram,Agartala,"Tripura University, Agartala",Tripura,799001,9.000000,www.womenscollege.nic.in,...,False,True,True,4000.0,NaN,False,True,False,True,Women's College
41098,ST157,XAVIER INSTITUTE OF MANAGEMENT AND ENTREPRENEU...,"ELECTRONICS CITY PHASE II,",HOSUR ROAD,BANGALORE,NaN,Karnataka,560100,4.230000,www.xime.org,...,True,False,False,28000.0,294.0,True,True,True,True,XAVIER INSTITUTE OF MANAGEMENT AND ENTREPRENEU...

                                                name
0               Manish Institute of Computer Studies
1         SIDDARTHA COLLEGE OF EDUCATION,  JAMKHANDI
2                  VVS'S ARTS/COMM COLLEGE,  BIJAPUR
3             GOVT. FIRST GRADE COLLEGE,  KOKATANOOR
4  S S S S'S COLLEGE OF BUSINESS ADMINISTRATION, ...

In [170]:
names = pd.DataFrame(clgs['name'].apply(syn_gen))

In [171]:
names.head()

                                                name
0  [MICS, manish institute of computer studies, m...
1  [SCE/J, siddartha college education, SCE  jamk...
2  [VAC, VSACCB, VSACC  bijapur, VAC-B, VAC B, VS...
3  [GFGC-K, GFGC/K, GFGC K, GFGC  kokatanoor, gov...
4  [s s s s's college business administration  be...

In [173]:
len(names.iloc[4]['name'])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [174]:
names.name.values.tolist()
names[list(range(25))] = pd.DataFrame(names.name.values.tolist(), index= names.index)

In [178]:
names['name']=data['name']

In [179]:
def comma(s):
    if str(s) != str(None):
        return '"'+s+'"'
    return None

In [180]:
names = names.apply(comma)

In [181]:
names[names[24].notnull()]

Empty DataFrame
Columns: [name, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
Index: []

[0 rows x 26 columns]

In [182]:
names = names.drop([24],axis=1)

In [183]:
names.to_csv('clg_entities.csv',header=None,index=None)

rm_brk('kunal')

In [157]:
rm_brk('kuna(kd)l')

'kunal'

In [166]:
data['name'] = data['name'].apply(rm_brk)

In [185]:
data.to_csv('all_clgs.csv')

In [186]:
names.head()

,name,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,"""Manish Institute of Computer Studies""","""MICS""","""manish institute of computer studies""","""manish institute computer studies""",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"""SIDDARTHA COLLEGE OF EDUCATION, JAMKHANDI""","""SCE/J""","""siddartha college education""","""SCE jamkhandi""","""SCE-J""","""siddartha college of education""","""siddartha college education jamkhandi""","""siddartha college of education jamkhandi""","""SCE""","""SCE J""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"""VVS'S ARTS/COMM COLLEGE, BIJAPUR""","""VAC""","""VSACCB""","""VSACC bijapur""","""VAC-B""","""VAC B""","""VSACC/B""","""VSACC B""","""vvs's arts/comm college bijapur""","""VAC bijapur""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"""GOVT. FIRST GRADE COLLEGE, KOKATANOOR""","""GFGC-K""","""GFGC/K""","""GFGC K""","""GFGC kokatanoor""","""govt. first grade college kokatanoor""","""govt. first grade college""","""GFGC""","""GFGCK""",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"""S S S S'S COLLEGE OF BUSINESS ADMINISTRATION,...","""s s s s's college business administration be...","""SSSSCBA B""","""s s s s's college of business administration ...","""SSSSCBA/B""","""SSSSSCBA/B""","""SSSSCBA belgaum""","""SSSSCBA-B""","""SSSSSCBA""","""s s s s's college of business administration""",...,"""s s s s's college business administration""","""SSSSSCBA-B""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

college_entity.ipynb               merger.ipynb
college_front_page_scrapper.ipynb  scrapper2.ipynb
entity_generator.ipynb             temp_mapper.ipynb
entity_synonym_generator.ipynb     univ_names
mapper.ipynb

In [5]:
data = pd.read_csv('CollegeName_entity.csv')

In [10]:
data.iloc[:15000].to_csv('CollgeName1',header=None,index=None)

In [11]:
data.iloc[15000:].to_csv('CollegeName2',header=None,index=None)