In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
data = pd.read_csv('all_institutions_course.csv')

In [3]:
data.shape

(211245, 8)

In [4]:
data.head()

,cid,name,programme,discipline,discipline_group,discipline_group_category,intake,duration_year
0,C100,Manish Institute of Computer Studies,Integrated M.C.A.-Integrated Master of Compute...,Computer Science,Computer Application,IT & Computer,60,5
1,C100,Manish Institute of Computer Studies,M.C.A. -Master of Computer Applications,Computer Science,Computer Application,IT & Computer,60,3
2,C10000,"SIDDARTHA COLLEGE OF EDUCATION, JAMKHANDI",B.Ed.-Bachelor of Education,Education,Education,Education,50,2
3,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.C.A.-Bachelor of Computer Applications,COMPUTER,Computer Application,IT & Computer,100,3
4,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.A.-Bachelor of Arts,Arts,Arts,Arts,240,3

In [5]:
def brack_chang(string):
    string = string.replace('(','[')
    string = string.replace(')',']')
    return string

In [6]:
data['programme'] = data['programme'].apply(brack_chang)

In [7]:
#data.to_csv('all_institutions_course_updated.csv')

In [8]:
programs = data['programme']
programs.head()

0    Integrated M.C.A.-Integrated Master of Compute...
1              M.C.A. -Master of Computer Applications
2                          B.Ed.-Bachelor of Education
3             B.C.A.-Bachelor of Computer Applications
4                                B.A.-Bachelor of Arts
Name: programme, dtype: object

In [9]:
programs = pd.DataFrame(programs.unique())

In [10]:
programs.tail()

                                                     0
186               M.P.S. -Master of Population Studies
187                             D.Mus.-Doctor of Music
188  M.B.A.[Pharma. Tech.]-Master of Business Admin...
189       B.Chem.Tech.-Bachelor of Chemical Technology
190  M.T.P.M.-Master in Transportation Planning and...

In [11]:
programs[1]=programs[0]
programs[2]=programs[0]

In [12]:
def split(string):
    return re.split('-',string)

In [13]:
programs[2] = programs[2].apply(split)

In [14]:
def return_0(arr):
    return arr[0]
def return_1(arr):
    return arr[1]

In [15]:
programs[3] = programs[2].apply(return_0)
programs[4] = programs[2].apply(return_1)
programs.head()

,0,1,2,3,4
0,Integrated M.C.A.-Integrated Master of Compute...,Integrated M.C.A.-Integrated Master of Compute...,"[Integrated M.C.A., Integrated Master of Compu...",Integrated M.C.A.,Integrated Master of Computer Applications
1,M.C.A. -Master of Computer Applications,M.C.A. -Master of Computer Applications,"[M.C.A. , Master of Computer Applications]",M.C.A.,Master of Computer Applications
2,B.Ed.-Bachelor of Education,B.Ed.-Bachelor of Education,"[B.Ed., Bachelor of Education]",B.Ed.,Bachelor of Education
3,B.C.A.-Bachelor of Computer Applications,B.C.A.-Bachelor of Computer Applications,"[B.C.A., Bachelor of Computer Applications]",B.C.A.,Bachelor of Computer Applications
4,B.A.-Bachelor of Arts,B.A.-Bachelor of Arts,"[B.A., Bachelor of Arts]",B.A.,Bachelor of Arts

In [16]:
def rm_full(string):
    return string.replace('.','')

In [17]:
programs[5] = programs[3].apply(rm_full)

In [18]:
data.head()

,cid,name,programme,discipline,discipline_group,discipline_group_category,intake,duration_year
0,C100,Manish Institute of Computer Studies,Integrated M.C.A.-Integrated Master of Compute...,Computer Science,Computer Application,IT & Computer,60,5
1,C100,Manish Institute of Computer Studies,M.C.A. -Master of Computer Applications,Computer Science,Computer Application,IT & Computer,60,3
2,C10000,"SIDDARTHA COLLEGE OF EDUCATION, JAMKHANDI",B.Ed.-Bachelor of Education,Education,Education,Education,50,2
3,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.C.A.-Bachelor of Computer Applications,COMPUTER,Computer Application,IT & Computer,100,3
4,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.A.-Bachelor of Arts,Arts,Arts,Arts,240,3

In [19]:
programs = programs.drop(2,axis=1)

In [20]:
def add_invcomm(string):
    return '"'+string+'"'

In [21]:
programs = programs.apply(add_invcomm)

In [22]:
programs.to_csv('all_institutions_course_updated.csv')