In [1]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv('../all_institution_merged.csv',index_col=0)

/home/kunal_goyal/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (10,11,12,13,14,15,16,17,18,19,20,21,22,36,38,39,40,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
data.head(1)

,cid,old_me_name,old_me_city,Affiliated_to_University,state,area,website,year_of_establishment,management_type,playground,...,opportunity_cell,city,name,place_id,g_address,phone,g_map,lat,lng,address
0,C100,Manish Institute of Computer Studies,Visnagar-384315,"Sankalchand Patel University, Visnagar",Gujarat,2.5,www.mcavisnagar.org,2002.0,Private Un-Aided,True,...,False,visnagar,"Manish Institute of Computer Studies, Visnagar",ChIJM7k39sBPXDkRiU6Om4PD_e8,"SPCE Campus, Visnagar, Gujarat 384315, India",+91 2765 225 505,https://maps.google.com/?cid=17293193114190499465,23.683418,72.547188,"S. K. Patel Campus, Kamana Char Rasta Gandhina..."

In [42]:
district = pd.read_csv('../data/district_college_id.csv',header=None)

In [43]:
district.head()

,0,1,2,3,4
0,C21410,"Govt. Degree College Kupwara, Kashmir",0,Kupwara,dis_1000
1,C21418,"Govt Degree College Handwara, Kashmir",1,Kupwara,dis_1000
2,ST15118,Government Polytechnic College Kupwara,0,Kupwara,dis_1000
3,C21442,"Govt. Degree College Sogam Kupwara, Kashmir",0,Kupwara,dis_1000
4,ST12844,"DISTRICT INSTITUTE OF EDUCATION & TRAINING, KU...",0,Kupwara,dis_1000

In [45]:
district[0].shape

(47249,)

In [58]:
district = district.drop(district[~district[0].isin(data.cid)].index)

In [61]:
data = data.merge(district,left_on='cid',right_on=0)

In [64]:
data = data.drop([0,3,1],axis=1)

In [68]:
data.columns = [                           'cid',                    'old_me_name',
                          'old_me_city',       'Affiliated_to_University',
                                'state',                           'area',
                              'website',          'year_of_establishment',
                      'management_type',                     'playground',
                           'auditorium',                        'theatre',
                              'library',                     'laboratory',
                      'conference_hall',                  'health_center',
             'gymnasium_fitness_center',                 'indoor_stadium',
                          'common_room',                'computer_center',
                            'cafeteria',                    'guest_house',
                    'no_of_playgrounds',              'no_of_auditoriums',
                       'no_of_theatres',                'no_of_libraries',
                   'no_of_laboratories',         'no_of_conference_halls',
                 'no_of_health_centers', 'no_of_gymnasim_fitness_centers',
                'no_of_indoor_stadiums',             'no_of_common_rooms',
               'no_of_computer_centers',                'no_of_cafeteria',
                   'no_of_guest_houses',        'separate_room_for_girls',
       'no_of_separate_rooms_for_girls',         'solar_power_generation',
                     'connectivity_nkn',            'connectivity_nmeict',
                          'no_of_books',                 'no_of_journals',
                      'campus_friendly',  'grievance_redressal_mechanism',
                       'vigilance_cell',               'opportunity_cell',
                                 'city',                           'name',
                             'place_id',                      'g_address',
                                'phone',                          'g_map',
                                  'lat',                            'lng',
                              'address',                                'priority',
                                      'dis_id']

In [71]:
data = data.drop(['old_me_name','old_me_city'],1)

In [9]:
len(data.city.unique())

7694

In [10]:
cities = data.city.unique()

In [12]:
cities = pd.DataFrame(cities)

In [14]:
cities[1] = cities.index

In [16]:
cities.head()

           0  1
0   visnagar  0
1     rajkot  1
2  jamkhandi  2
3    bijapur  3
4     athani  4

In [22]:
cities[cities[0].isnull()]

      0   1
36  NaN  36

In [34]:
cities[1] = 'CY'+cities[1].astype(str)

In [32]:
# data[data.city.str.contains('[0-9]',na=False)]

In [37]:
cities[[0,1]] = cities[[1,0]]

In [39]:
# cities.to_csv('../cities_id.csv')

In [77]:
data = data.merge(cities,left_on='city',right_on=1)

In [81]:
data = data.drop([1,'city'],1)

In [83]:
data.columns = [                           'cid',       'Affiliated_to_University',
                                'state',                           'area',
                              'website',          'year_of_establishment',
                      'management_type',                     'playground',
                           'auditorium',                        'theatre',
                              'library',                     'laboratory',
                      'conference_hall',                  'health_center',
             'gymnasium_fitness_center',                 'indoor_stadium',
                          'common_room',                'computer_center',
                            'cafeteria',                    'guest_house',
                    'no_of_playgrounds',              'no_of_auditoriums',
                       'no_of_theatres',                'no_of_libraries',
                   'no_of_laboratories',         'no_of_conference_halls',
                 'no_of_health_centers', 'no_of_gymnasim_fitness_centers',
                'no_of_indoor_stadiums',             'no_of_common_rooms',
               'no_of_computer_centers',                'no_of_cafeteria',
                   'no_of_guest_houses',        'separate_room_for_girls',
       'no_of_separate_rooms_for_girls',         'solar_power_generation',
                     'connectivity_nkn',            'connectivity_nmeict',
                          'no_of_books',                 'no_of_journals',
                      'campus_friendly',  'grievance_redressal_mechanism',
                       'vigilance_cell',               'opportunity_cell',
                                 'name',                       'place_id',
                            'g_address',                          'phone',
                                'g_map',                            'lat',
                                  'lng',                        'address',
                             'priority',                         'dist_id',
                                      'city_id']

In [ ]:
data.loc[data.city_id == 'CY36','city_id'] = None

In [92]:
data[(data.state.isnull())]

,cid,Affiliated_to_University,state,area,website,year_of_establishment,management_type,playground,auditorium,theatre,...,place_id,g_address,phone,g_map,lat,lng,address,priority,dist_id,city_id
20279,C14493,"Tamil Nadu Teacher Education University, Chennai",NaN,6.02,www.kathiredu.com,2007.0,Private Un-Aided,True,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,"S.F.No: 806, ""Wisdom Tree"""" ,Avinashi Road, pi...",1,dis_1619,CY1113

In [103]:
data.loc[20279,'state'] = 'Tamil Nadu'

In [147]:
state = pd.DataFrame(data.state.unique())

In [148]:
state[1] = state.index

In [152]:
state[[0,1]] = state[[1,0]]
state[0] = 'SE'+state[0].astype(str)

In [155]:
state.columns = ['state_id','state']

In [159]:
state.to_csv('../state.csv')

In [161]:
data = data.merge(state,on='state')

In [163]:
data = data.drop('state',1)

In [169]:
sum(data.Affiliated_to_University.isnull())

11904

In [173]:
data[data.Affiliated_to_University.notnull()].shape

(35286, 55)

In [176]:
univ = pd.DataFrame(data.Affiliated_to_University.unique())

In [199]:
univ[1] = univ.index

In [203]:
univ[1] = 'UV' + univ[1].astype(str)

In [204]:
univ[[0,1]] = univ[[1,0]]

In [206]:
univ.columns = ['university_id','university']

In [207]:
# univ.to_csv('../university_id.csv')

In [208]:
univ.head()

  university_id                                       university
0           UV0           Sankalchand Patel University, Visnagar
1           UV1      Gujarat Technological University, Ahmedbabd
2           UV2  Hemchandracharya North Gujart University, Patan
3           UV3                                              NaN
4           UV4                    Saurashtra University, Rajkot

In [216]:
data = data.merge(univ,left_on = 'Affiliated_to_University', right_on = 'university')

In [217]:
data.loc[data1.university_id == 'UV3','university_id'] = None

In [220]:
data = data.drop('university',1)

In [221]:
data.head()

,cid,Affiliated_to_University,area,website,year_of_establishment,management_type,playground,auditorium,theatre,library,...,phone,g_map,lat,lng,address,priority,dist_id,city_id,state_id,university_id
0,C100,"Sankalchand Patel University, Visnagar",2.5,www.mcavisnagar.org,2002.0,Private Un-Aided,True,True,False,True,...,+91 2765 225 505,https://maps.google.com/?cid=17293193114190499465,23.683418,72.547188,"S. K. Patel Campus, Kamana Char Rasta Gandhina...",0,dis_1461,CY0,SE0,UV0
1,C152,"Sankalchand Patel University, Visnagar",10.0,http://mba.spcevng.ac.in,2007.0,Private Un-Aided,True,True,False,True,...,+91 99250 35685,https://maps.google.com/?cid=9091386723698156795,23.695097,72.540796,"Kamana Char Rasta, Gandhinagar-Ambaji Highway,...",0,dis_1461,CY0,SE0,UV0
2,C251,"Sankalchand Patel University, Visnagar",2.5,www.nootanmba.ac.in,2001.0,Private Un-Aided,True,True,True,True,...,NaN,NaN,NaN,NaN,"S. K. Campus Gandhinagar Ambaji Link Road, pin...",0,dis_1461,CY0,SE0,UV0
3,C331,"Sankalchand Patel University, Visnagar",2.5,www.nootanpharmacyvisnagar.org,2006.0,Private Un-Aided,True,True,True,True,...,+91 2765 231 800,https://maps.google.com/?cid=11102121219608488665,23.700000,72.550000,"S.P.Sahkar Vidyadham Near Kamana Crossing, Amb...",0,dis_1461,CY0,SE0,UV0
4,C384,"Sankalchand Patel University, Visnagar",10.0,mca.spcevng.ac.in,2008.0,Private Un-Aided,True,True,True,True,...,NaN,NaN,NaN,NaN,"Kamana Char Rasta, Gandhinagar-Ambaji Highway,...",0,dis_1461,CY0,SE0,UV0

In [222]:
data.to_csv('../all_institution_merged1.csv')