## Specialization Generator
Generates synonyms for specialization entity

In [2]:
import numpy as np
import pandas as pd
import re

In [5]:
def syn_specialization(spec):
    spec = str(spec)
    specs = []
    temp = [None]*3
#     specy = re.sub('\)', ']', spec)
    tspec = re.sub('\]', '', spec)
#     specs.append(re.sub('\(', '[', specy))
    specs.append(re.sub('\[', '- ', tspec))
    specs.append(re.sub('\[', '', tspec))
    specs = list(set(specs + [spec]))
    specs = specs+temp
    return specs[:3]

def ad_brk(st):
    st = str(st)
    if '[' in st and ']' not in st:
        return st+']'
    if ']' in st and '[' not in st:
        return st.replace(']','')
    else: return st

def con_brk(st):
    st = str(st)
    st = st.replace('_','-')
    st = st.replace('(','[')
    return st.replace(')',']')
syn_specialization('diploma in dialysis technology -  dd')

['diploma in dialysis technology -  dd', None, None]

In [123]:
data = pd.read_csv('all_institutions_course_updated (1).csv')

In [124]:
data.head()

,Unnamed: 0,cid,name,programme,discipline,discipline_group,discipline_group_category,intake,duration_year
0,0,C100,Manish Institute of Computer Studies,Integrated M.C.A.-Integrated Master of Compute...,Computer Science,Computer Application,IT & Computer,60,5
1,1,C100,Manish Institute of Computer Studies,M.C.A. -Master of Computer Applications,Computer Science,Computer Application,IT & Computer,60,3
2,2,C10000,"SIDDARTHA COLLEGE OF EDUCATION, JAMKHANDI",B.Ed.-Bachelor of Education,Education,Education,Education,50,2
3,3,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.C.A.-Bachelor of Computer Applications,COMPUTER,Computer Application,IT & Computer,100,3
4,4,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.A.-Bachelor of Arts,Arts,Arts,Arts,240,3

In [125]:
data[data.discipline.str.count(r'\_')>0]

,Unnamed: 0,cid,name,programme,discipline,discipline_group,discipline_group_category,intake,duration_year
80592,80592,C34714,GOVT. SHRIMANT MAHAVRAO SHINDHIYA ADARSH SCIEN...,B.Sc.-Bachelor of Science,Mathematics_Geology-Physics,Science,Science,40,3
80599,80599,C34714,GOVT. SHRIMANT MAHAVRAO SHINDHIYA ADARSH SCIEN...,B.Sc.-Bachelor of Science,Electronics_Mathematics-Physics,Science,Science,160,3
80605,80605,C34714,GOVT. SHRIMANT MAHAVRAO SHINDHIYA ADARSH SCIEN...,B.Sc.-Bachelor of Science,Chemistry_Mathematics-Physics,Science,Science,600,3
110532,110532,C42769,Sukhdeo Sahay Madheshwar Sahay Degree College...,B.A.[Hons]-Bachelor of Arts [Honors],Pol_Science,Education,Education,100,3
110535,110535,C42769,Sukhdeo Sahay Madheshwar Sahay Degree College...,B.A.[Hons]-Bachelor of Arts [Honors],Home_Science,Home Science,Home Science,100,3
137122,137122,C53867,Government Music And Fine Arts College,Diploma-Diploma,Sitar_Praveshika,Music,Fine Arts,10,2
137123,137123,C53867,Government Music And Fine Arts College,Diploma-Diploma,Praveshika_ Violin,Fine Arts,Fine Arts,2,2
137124,137124,C53867,Government Music And Fine Arts College,Diploma-Diploma,Painting_ Advance Diploma,Fine Arts,Fine Arts,6,1
137125,137125,C53867,Government Music And Fine Arts College,Diploma-Diploma,Madhyama_ Violin,Fine Arts,Fine Arts,2,2
137127,137127,C53867,Government Music And Fine Arts College,Diploma-Diploma,Painting_ Certificate course,Fine Arts,Fine Arts,23,1
137128,137128,C53867,Government Music And Fine Arts College,Diploma-Diploma,Praveshika_ Flute,Fine Arts,Fine Arts,1,2
137130,137130,C53867,Government Music And Fine Arts College,Diploma-Diploma,Tabla_Praveshika,Music,Fine Arts,65,2
137132,137132,C53867,Government Music And Fine Arts College,Diploma-Diploma,Vocal_Madhyama,Music,Fine Arts,17,2
137133,137133,C53867,Government Music And Fine Arts College,Diploma-Diploma,Tabla_Kala vid,Music,Fine Arts,1,2
137134,137134,C53867,Government Music And Fine Arts College,Diploma-Diploma,Vocal_Praveshika,Music,Fine Arts,83,2
137136,137136,C53867,Government Music And Fine Arts College,Diploma-Diploma,Sitar_Madhyama,Music,Fine Arts,3,2
137137,137137,C53867,Government Music And Fine Arts College,Diploma-Diploma,Tabla_Madhyama,Music,Fine Arts,15,2
137140,137140,C53867,Government Music And Fine Arts College,Diploma-Diploma,Kathak_Kala Vid,Performing Arts,Fine Arts,1,2
137141,137141,C53867,Government Music And Fine Arts College,Diploma-Diploma,Kathak_Praveshika,Performing Arts,Fine Arts,100,2
137142,137142,C53867,Government Music And Fine Arts College,Diploma-Diploma,Kathak_Madhyama,Performing Arts,Fine Arts,23,2
137143,137143,C53867,Government Music And Fine Arts College,Diploma-Diploma,Painting_ Junior Certificate,Fine Arts,Fine Arts,4,2
137144,137144,C53867,Government Music And Fine Arts College,Diploma-Diploma,Painting_ Diploma Course,Fine Arts,Fine Arts,2,1
137145,137145,C53867,Government Music And Fine Arts College,Diploma-Diploma,Painting_ Junior Diploma,Fine Arts,Fine Arts,8,2
137147,137147,C53867,Government Music And Fine Arts College,Diploma-Diploma,Praveshika_ Harmonium,Fine Arts,Fine Arts,46,2
166460,166460,ST16446,"NURSING TRAINING SCHOOL, BURDWAN MEDICAL COLLE...",B.Sc.[Nursing]-Bachelor of Science in Nursing,BSC_Nur,Nursing,Medical Science,50,3
172890,172890,ST3764,"SCHOOL OF NURSING, GENERAL HOSPITAL GODHRA",G.N.M.-General Nursing & Midwifery,Nusing_new,Nursing,Medical Science,22,3
179731,179731,U167,"Maharshi Dayanand University, Rohtak",M.Com.-Master of Commerce,COMMERCE (HONS)_,Commerce,Commerce,60,5
182256,182256,U223,"Jain university,Bangalore",M.B.A.- Master of Business Administration,MMS _ Financial Management,Business Administration,Management,39,2
184489,184489,U270,"Devi Ahilya Vishwavidyalaya, Indore",M.B.A.- Master of Business Administration,Management_IMS,Business Administration,Management,620,2
184491,184491,U270,"Devi Ahilya Vishwavidyalaya, Indore",B.B.A.-Bachelor of Business Administration,Management_IMS,Business Administration,Management,120,3
184494,184494,U270,"Devi Ahilya Vishwavidyalaya, Indore",M.B.A.- Master of Business Administration,Management_Exe.,Business Administration,Management,120,2
207434,207434,U72,"National Institute of Technology, Patna",Ph.D.-Doctor of Philosophy,HS_PH,Other Management,Management,5,3
207435,207435,U72,"National Institute of Technology, Patna",Ph.D.-Doctor of Philosophy,MA_PH,Mathematics,Science,5,3
207436,207436,U72,"National Institute of Technology, Patna",Integrated M.Sc.-Integrated Master of Science,MA_UG,Mathematics,Science,30,5
207437,207437,U72,"National Institute of Technology, Patna",Ph.D.-Doctor of Philosophy,CH_PH,Chemistry,Science,5,3
207438,207438,U72,"National Institute of Technology, Patna",Integrated M.Sc.-Integrated Master of Science,CH_UG,Chemistry,Science,30,5
207439,207439,U72,"National Institute of Technology, Patna",Ph.D.-Doctor of Philosophy,PH_PH,Physics,Science,5,3
207440,207440,U72,"National Institute of Technology, Patna",Integrated M.Sc.-Integrated Master of Science,PH_UG,Physics,Science,30,5
207441,207441,U72,"National Institute of Technology, Patna",Ph.D.-Doctor of Philosophy,CE_PH,Civil Engineering,Engineering & Technology,25,3
207442,207442,U72,"National Institute of Technology, Patna",M.Tech. -Master of Technology,CS+IT_PG,Computer Engineering,Engineering & Technology,40,2
207443,207443,U72,"National Institute of Technology, Patna",Ph.D.-Doctor of Philosophy,CS_PH,Computer Engineering,Engineering & Technology,20,3
207444,207444,U72,"National Institute of Technology, Patna",B.Tech.-Bachelor of Technology,CS+IT_UG,Computer Engineering,Engineering & Technology,185,4
207445,207445,U72,"National Institute of Technology, Patna",M.Tech. -Master of Technology,CE_PG,Civil Engineering,Engineering & Technology,124,2
207446,207446,U72,"National Institute of Technology, Patna",B.Tech.-Bachelor of Technology,CE_UG,Civil Engineering,Engineering & Technology,92,4
207447,207447,U72,"National Institute of Technology, Patna",B.Architecture-Bachelor of Architecture,AR_UG,Architecture,Engineering & Technology,62,5
207448,207448,U72,"National Institute of Technology, Patna",B.Tech.-Bachelor of Technology,ME_UG,Mechanical Engineering,Engineering & Technology,93,4
207449,207449,U72,"National Institute of Technology, Patna",M.Tech. -Master of Technology,ME_PG,Mechanical Engineering,Engineering & Technology,60,2
207450,207450,U72,"National Institute of Technology, Patna",Ph.D.-Doctor of Philosophy,ME_PH,Mechanical Engineering,Engineering & Technology,30,3
207451,207451,U72,"National Institute of Technology, Patna",B.Tech.-Bachelor of Technology,EE_UG,Electrical Engineering,Engineering & Technology,92,4
207452,207452,U72,"National Institute of Technology, Patna",M.Tech. -Master of Technology,EE_PG,Electrical Engineering,Engineering & Technology,59,2
207453,207453,U72,"National Institute of Technology, Patna",M.Tech. -Master of Technology,EC_PG,Electronics Engineering,Engineering & Technology,40,2
207454,207454,U72,"National Institute of Technology, Patna",M.U.P.-Master of Urban Planning,AR_PG,Urban Planning,Engineering & Technology,18,2
207455,207455,U72,"National Institute of Technology, Patna",Ph.D.-Doctor of Philosophy,EC_PH,Electronics Engineering,Engineering & Technology,20,3
207456,207456,U72,"National Institute of Technology, Patna",B.Tech.-Bachelor of Technology,EC_UG,Electronics Engineering,Engineering & Technology,92,4
207457,207457,U72,"National Institute of Technology, Patna",Ph.D.-Doctor of Philosophy,AR_PH,Architecture,Engineering & Technology,5,3
207458,207458,U72,"National Institute of Technology, Patna",Ph.D.-Doctor of Philosophy,EE_PH,Electrical Engineering,Engineering & Technology,20,3

In [126]:
data = data.drop(data[data.discipline.str.count(r'\(')>1].index)

In [127]:
data = data.drop(data[data.discipline.str.count(r'\)')>1].index)

In [128]:
data = data.drop(data[data.discipline.str.count(r'\<')>0].index)

In [129]:
data = data.drop(data[data.discipline.str.count(r'\>')>0].index)

In [130]:
data = data.drop(data[data.discipline.str.count(r'\:')>0].index)

In [131]:
data.loc[data['discipline'].isnull(),'discipline']  = data.loc[data['discipline'].isnull(),'discipline_group']

In [132]:
data.loc[data['discipline']=='N.A.','discipline']  = data.loc[data['discipline']=='N.A.','discipline_group']

In [133]:
data.loc[data['discipline'].str.len()<2,'discipline'] = data.loc[data['discipline'].str.len()<2,'discipline_group']

In [134]:
data['discipline'] = data['discipline'].apply(con_brk)

In [135]:
data.shape

(211045, 9)

In [136]:
len(data['discipline'].unique())

30892

In [137]:
data['discipline'] = data['discipline'].apply(ad_brk)
data.head()

,Unnamed: 0,cid,name,programme,discipline,discipline_group,discipline_group_category,intake,duration_year
0,0,C100,Manish Institute of Computer Studies,Integrated M.C.A.-Integrated Master of Compute...,Computer Science,Computer Application,IT & Computer,60,5
1,1,C100,Manish Institute of Computer Studies,M.C.A. -Master of Computer Applications,Computer Science,Computer Application,IT & Computer,60,3
2,2,C10000,"SIDDARTHA COLLEGE OF EDUCATION, JAMKHANDI",B.Ed.-Bachelor of Education,Education,Education,Education,50,2
3,3,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.C.A.-Bachelor of Computer Applications,COMPUTER,Computer Application,IT & Computer,100,3
4,4,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.A.-Bachelor of Arts,Arts,Arts,Arts,240,3

In [138]:
data = data.drop('Unnamed: 0',axis=1)

In [139]:
# data.loc[data.discipline=='N.A.','discipline'] = data.loc[data.discipline=='N.A.','discipline_group']
sum(data.discipline=='nan')

0

In [140]:
data.loc[(data['discipline'].str.isdigit()),'discipline'] = data.loc[(data['discipline'].str.isdigit()),'discipline_group']

In [142]:
data['discipline_lower']=data['discipline'].str.lower()

In [143]:
data['discipline_group_lower'] = data['discipline_group'].str.lower()

In [144]:
data.to_csv('(final3)all_institution_courses_lowered_cleaned.csv')

In [145]:
data.shape

(211045, 10)

In [146]:
combined_spec = (pd.DataFrame(list(data.discipline_lower)+list(data.discipline_group_lower))[0].unique())

In [147]:
combined_spec = pd.DataFrame(combined_spec)

In [148]:
# combined_spec[1] = combined_spec[0]
# combined_spec[2] = combined_spec[1]
combined_spec.head()

                  0
0  computer science
1         education
2          computer
3              arts
4               com

In [149]:
combined_spec.shape

(26641, 1)

In [150]:
combined_spec[1] = combined_spec[0].apply(syn_specialization)

In [151]:
def ret_0(lst):
    lst = list(lst)
    return lst[0]

In [152]:
def ret_1(lst):
    lst = list(lst)
    return lst[1]
def ret_2(lst):
    lst = list(lst)
    return lst[2]

In [153]:
combined_spec[3] = combined_spec[1].apply(ret_1)

In [154]:
combined_spec[2] = combined_spec[1].apply(ret_2)

In [155]:
combined_spec[1] = combined_spec[1].apply(ret_0)

In [156]:
combined_spec.head()

                  0                 1     3     2
0  computer science  computer science  None  None
1         education         education  None  None
2          computer          computer  None  None
3              arts              arts  None  None
4               com               com  None  None

In [157]:
def comma(s):
    if str(s) != str(None):
        return '"'+s+'"'
    return None

In [158]:
for i in range(4):
    combined_spec[i] = combined_spec[i].apply(comma)

In [159]:
combined_spec.head()

                    0                   1     3     2
0  "computer science"  "computer science"  None  None
1         "education"         "education"  None  None
2          "computer"          "computer"  None  None
3              "arts"              "arts"  None  None
4               "com"               "com"  None  None

In [161]:
combined_spec.to_csv('entity_specs(final2).csv',header=None,index=None)