In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
def syn_specialization(spec):
    spec = str(spec)
    specs = []
    temp = [None]*3
#     specy = re.sub('\)', ']', spec)
    spec = re.sub('\]', '', spec)
#     specs.append(re.sub('\(', '[', specy))
    specs.append(re.sub('\[', '-', spec))
    specs.append(re.sub('\[', ' ', spec))
    specs = list(set(specs + [spec]))
    specs = specs+temp
    return specs[:3]

def ad_brk(st):
    st = str(st)
    if '[' in st and ']' not in st:
        return st+']'
    if ']' in st and '[' not in st:
        return st.replace(']','')
    else: return st

def con_brk(st):
    st = str(st)
    st = st.replace('(','[')
    return st.replace(')',']')
con_brk('kunal(dkd)')

'kunal[dkd]'

In [3]:
data = pd.read_csv('../all_institutions_course_updated-Copy1.csv')

In [4]:
data.head()

,Unnamed: 0,cid,name,programme,discipline,discipline_group,discipline_group_category,intake,duration_year
0,0,C100,Manish Institute of Computer Studies,Integrated M.C.A.-Integrated Master of Compute...,Computer Science,Computer Application,IT & Computer,60,5
1,1,C100,Manish Institute of Computer Studies,M.C.A. -Master of Computer Applications,Computer Science,Computer Application,IT & Computer,60,3
2,2,C10000,"SIDDARTHA COLLEGE OF EDUCATION, JAMKHANDI",B.Ed.-Bachelor of Education,Education,Education,Education,50,2
3,3,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.C.A.-Bachelor of Computer Applications,COMPUTER,Computer Application,IT & Computer,100,3
4,4,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.A.-Bachelor of Arts,Arts,Arts,Arts,240,3

In [5]:
data = data.drop(data[data.discipline.str.count(r'\(')>2].index)

In [6]:
data = data.drop(data[data.discipline.str.count(r'\)')>2].index)

In [7]:
data = data.drop(data[data.discipline.str.count(r'\<')>0].index)

In [8]:
data = data.drop(data[data.discipline.str.count(r'\>')>0].index)

In [9]:
data = data.drop(data[data.discipline.str.count(r'\:')>0].index)

In [10]:
data.loc[data['discipline'].isnull(),'discipline']  = data.loc[data['discipline'].isnull(),'discipline_group']

In [11]:
data.loc[data['discipline']=='N.A.','discipline']  = data.loc[data['discipline']=='N.A.','discipline_group']

In [12]:
data.loc[data['discipline'].str.len()<2,'discipline'] = data.loc[data['discipline'].str.len()<2,'discipline_group']

In [15]:
data['discipline'] = data['discipline'].apply(con_brk)

In [16]:
data.shape

(211201, 9)

In [17]:
len(data['discipline'].unique())

31048

In [18]:
data['discipline'] = data['discipline'].apply(ad_brk)
data.head()

,Unnamed: 0,cid,name,programme,discipline,discipline_group,discipline_group_category,intake,duration_year
0,0,C100,Manish Institute of Computer Studies,Integrated M.C.A.-Integrated Master of Compute...,Computer Science,Computer Application,IT & Computer,60,5
1,1,C100,Manish Institute of Computer Studies,M.C.A. -Master of Computer Applications,Computer Science,Computer Application,IT & Computer,60,3
2,2,C10000,"SIDDARTHA COLLEGE OF EDUCATION, JAMKHANDI",B.Ed.-Bachelor of Education,Education,Education,Education,50,2
3,3,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.C.A.-Bachelor of Computer Applications,COMPUTER,Computer Application,IT & Computer,100,3
4,4,C10002,"VVS'S ARTS/COMM COLLEGE, BIJAPUR",B.A.-Bachelor of Arts,Arts,Arts,Arts,240,3

In [19]:
data = data.drop('Unnamed: 0',axis=1)

In [20]:
# data.loc[data.discipline=='N.A.','discipline'] = data.loc[data.discipline=='N.A.','discipline_group']
sum(data.discipline=='nan')

0

In [21]:
data.loc[(data['discipline'].str.isdigit()),'discipline'] = data.loc[(data['discipline'].str.isdigit()),'discipline_group']

In [23]:
len(data.discipline_lower.unique())

AttributeError: 'DataFrame' object has no attribute 'discipline_lower'

In [24]:
data['discipline_lower']=data['discipline'].str.lower()

In [25]:
data['discipline_group_lower'] = data['discipline_group'].str.lower()

In [26]:
data.to_csv('(final_final)all_institution_courses_lowered_cleaned.csv')

In [27]:
data.shape

(211201, 10)

In [28]:
combined_spec = (pd.DataFrame(list(data.discipline_lower)+list(data.discipline_group_lower))[0].unique())

In [29]:
combined_spec = pd.DataFrame(combined_spec)

In [30]:
# combined_spec[1] = combined_spec[0]
# combined_spec[2] = combined_spec[1]
combined_spec.head()

                  0
0  computer science
1         education
2          computer
3              arts
4               com

In [31]:
combined_spec.shape

(26797, 1)

In [32]:
combined_spec[1] = combined_spec[0].apply(syn_specialization)

In [33]:
def ret_0(lst):
    lst = list(lst)
    return lst[0]

In [34]:
def ret_1(lst):
    lst = list(lst)
    return lst[1]
def ret_2(lst):
    lst = list(lst)
    return lst[2]

In [35]:
combined_spec[3] = combined_spec[1].apply(ret_1)

In [36]:
combined_spec[2] = combined_spec[1].apply(ret_2)

In [37]:
combined_spec[1] = combined_spec[1].apply(ret_0)

In [38]:
combined_spec

,0,1,3,2
0,computer science,computer science,None,None
1,education,education,None,None
2,computer,computer,None,None
3,arts,arts,None,None
4,com,com,None,None
5,commerce,commerce,None,None
6,commerece,commerece,None,None
7,mathematics,mathematics,None,None
8,science,science,None,None
9,kannada,kannada,None,None
10,chemistry,chemistry,None,None
11,physics,physics,None,None
12,journalism & mass communication,journalism & mass communication,None,None
13,performing arts,performing arts,None,None
14,kathak,kathak,None,None
15,tabla,tabla,None,None
16,vocal,vocal,None,None
17,arts and science,arts and science,None,None
18,bba,bba,None,None
19,computers,computers,None,None
20,management,management,None,None
21,comerce,comerce,None,None
22,computer application,computer application,None,None
23,eduecation,eduecation,None,None
24,technical,technical,None,None
25,b.com,b.com,None,None
26,m.com,m.com,None,None
27,physical education,physical education,None,None
28,english,english,None,None
29,bca,bca,None,None
...,...,...,...,...
26767,biodiversity & conservation,biodiversity & conservation,None,None
26768,natural resource management,natural resource management,None,None
26769,math/chem/phy/nanosciences,math/chem/phy/nanosciences,None,None
26770,medical & paramedical health sciences,medical & paramedical health sciences,None,None
26771,it dual degree,it dual degree,None,None
26772,architecture and planing,architecture and planing,None,None
26773,cse dual degree,cse dual degree,None,None
26774,it weekend,it weekend,None,None
26775,biotechnology dual degree,biotechnology dual degree,None,None
26776,ece weekend,ece weekend,None,None
26777,bio-chemical,bio-chemical,None,None
26778,chemical engineering dual degree,chemical engineering dual degree,None,None
26779,ece dual degree,ece dual degree,None,None
26780,m. tech bio-technology,m. tech bio-technology,None,None
26781,b-arch,b-arch,None,None
26782,pgd women's empowerment,pgd women's empowerment,None,None
26783,mjmc weekend,mjmc weekend,None,None
26784,mmc,mmc,None,None
26785,llm weekend,llm weekend,None,None
26786,medical management,medical management,None,None
26787,lab medicine,lab medicine,None,None
26788,other management,other management,None,None
26789,other foreign languages,other foreign languages,None,None
26790,marine science / oceanography,marine science / oceanography,None,None
26791,veterinary & animal sciences,veterinary & animal sciences,None,None
26792,civil law,civil law,None,None
26793,international law,international law,None,None
26794,indian medicine,indian medicine,None,None
26795,transportation planning,transportation planning,None,None
26796,jainism,jainism,None,None

In [39]:
def comma(s):
    if str(s) != str(None):
        return '"'+s+'"'
    return None

In [40]:
for i in range(4):
    combined_spec[i] = combined_spec[i].apply(comma)

In [41]:
combined_spec.head()

                    0                   1     3     2
0  "computer science"  "computer science"  None  None
1         "education"         "education"  None  None
2          "computer"          "computer"  None  None
3              "arts"              "arts"  None  None
4               "com"               "com"  None  None

In [42]:
combined_spec.to_csv('(final_final)entity_specs.csv',header=None,index=None)