In [68]:
import numpy as np
import pandas as pd
import re

In [69]:
data = pd.read_csv('all_colleges_mereexams.csv')

/home/kunal_goyal/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [70]:
def lower(s):
    return s.lower()
def change_brack(s):
    s = s.replace('(','[')
    s = s.replace('.','')
    s = s.replace(',','')
    s = s.replace(':','')
    return s.replace(')',']')

In [71]:
def remove_digit(s1):
    s1 = ''.join([i for i in str(s1) if not i.isdigit()])
    return s1.replace('-','')
def comma(s1):
    return '"'+s1+'"'
def remove_brack(s):
    s = re.sub(r'\[.*\]','',s)
    return s
def rmv_whitespace(s):
    s = s.rstrip()
    return s.lstrip()

In [73]:
data['city'] = data['city'].apply(remove_digit)
data['city'] = data['city'].apply(lower)
data['city'] = data['city'].apply(change_brack)
data['city'] = data['city'].apply(remove_brack)
data['city'] = data['city'].apply(rmv_whitespace)
len(data['city'].unique())

7708

In [74]:
cities = pd.DataFrame(data['city'].unique())
#data.to_csv('all_institutions_course_updated1.csv')

In [75]:
cities = cities.apply(comma)

In [76]:
cities.shape

(7708, 1)

In [77]:
cities[1]=cities[0]
cities.head()

             0            1
0   "visnagar"   "visnagar"
1  "jamkhandi"  "jamkhandi"
2    "bijapur"    "bijapur"
3     "athani"     "athani"
4    "belguam"    "belguam"

In [78]:
remove_brack('sas nagar [mohali]')

'sas nagar '

In [79]:
' kunal '.lstrip()

'kunal '

In [80]:
cities.to_csv('cities_entities2.csv',header=None,index=None)

In [81]:
#data[(data.state.isnull())].state = data[(data.state.isnull())].city

In [65]:
#data.loc[data.state.isnull(),'state'] = data.loc[data.state.isnull(),'city']

In [85]:
state = pd.DataFrame(data.state.unique())
state = state.apply(comma)

In [86]:
state.to_csv('state_entities.csv',header=None,index=None)