In [1]:
import pandas as pd

/home/ubuntu/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ubuntu/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ubuntu/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
data = pd.read_csv('college_institution_m_priority.csv')

In [3]:
data.head()

,Unnamed: 0,district_code,cid,name,priority,custom_order,district
0,1,1,C21410,"Govt. Degree College Kupwara, Kashmir",0,18861.0,Kupwara
1,2,1,C21418,"Govt Degree College Handwara, Kashmir",1,19765.0,Kupwara
2,3,1,ST15118,Government Polytechnic College Kupwara,0,1905.0,Kupwara
3,4,1,C21442,"Govt. Degree College Sogam Kupwara, Kashmir",0,23574.0,Kupwara
4,5,1,ST12844,"DISTRICT INSTITUTE OF EDUCATION & TRAINING, KU...",0,24054.0,Kupwara

In [15]:
dis_to_id = {dis:'dis_'+str(i+1000) for i,dis in enumerate(data.district.unique())}
len(dis_to_id.keys())

675

In [24]:
data['dis_id'] = data.district.apply(lambda x: dis_to_id[x])
dis = data.drop_duplicates(['dis_id'])[['dis_id', 'district']]
dis.to_csv('district_dialogflow_id.csv', header=None, index=None)

In [21]:
data = data[['cid', 'name', 'priority', 'district', 'dis_id']]
data.head()

,cid,name,priority,district,dis_id
0,C21410,"Govt. Degree College Kupwara, Kashmir",0,Kupwara,dis_1000
1,C21418,"Govt Degree College Handwara, Kashmir",1,Kupwara,dis_1000
2,ST15118,Government Polytechnic College Kupwara,0,Kupwara,dis_1000
3,C21442,"Govt. Degree College Sogam Kupwara, Kashmir",0,Kupwara,dis_1000
4,ST12844,"DISTRICT INSTITUTE OF EDUCATION & TRAINING, KU...",0,Kupwara,dis_1000

In [22]:
data.to_csv('district_college_id.csv', header=None, index=None)